// COLORS
$gold: #f5d018;
$crimson: #d92027;

$white: #ffffff;
$ash: #eeeeee;
$stone: #e3e3e3;
$charcoal: #898989;
$black: #000000;

$jade: #27a744;

// skills color
$advance: #ef7d7d;
$advance-light: #fecdd2;

$intermediate: #ffb74d;
$intermediate-light: #ffdfb1;

$basic: #81c783;
$basic-light: #c8e6c8;

// FONTS
$font-primary: 'Helvetica Neue';
